/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f6f9;
    color: #444;
    padding: 20px;
    line-height: 1.7;
}

/* Header */
header {
    text-align: center;
    margin-bottom: 40px;
}

header img {
    max-width: 100%;
    height: auto;
    border-radius: 16px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.08);
}

/* Navigation */
nav {
    margin-top: 25px;
}

nav a {
    text-decoration: none;
    color: #003366;
    margin: 0 10px;
    font-weight: bold;
    padding: 12px 20px;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.04);
    transition: 0.3s;
}

nav a:hover {
    background-color: #00A651;
    color: white;
    box-shadow: 0 6px 12px rgba(0,0,0,0.1);
}

/* Contenu principal */
main {
    max-width: 850px;
    margin: 0 auto;
}

/* Sections */
section {
    background-color: white;
    padding: 40px;
    margin-bottom: 30px;
    border-radius: 16px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.04);
}

/* Titres */
h1 {
    text-align: center;
    color: #003366;
    margin-bottom: 30px;
}

h2 {
    color: #003366;
    margin-bottom: 15px;
    border-left: 6px solid #00A651;
    padding: 10px 15px;
    background-color: #f4f6f9;
    border-radius: 0 8px 8px 0;
}

/* Texte */
p {
    margin-bottom: 15px;
}

/* Footer */
footer {
    margin-top: 50px;
    background-color: #003366;
    color: white;
    padding: 30px 20px;
    border-radius: 16px;
    text-align: center;
    box-shadow: 0 -4px 15px rgba(0,0,0,0.05);
}

footer strong {
    color: #00A651;
}

footer p {
    margin: 8px 0;
}