/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f6f9;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

/* Header */
header {
    text-align: center;
    margin-bottom: 30px;
}

header img {
    max-width: 100%;
    height: auto;
    border-radius: 12px;
}

/* Navigation */
nav {
    margin-top: 20px;
}

nav a {
    text-decoration: none;
    color: #003366;
    margin: 0 12px;
    font-weight: bold;
    padding: 8px 12px;
    border-radius: 6px;
    transition: 0.3s;
}

nav a:hover {
    background-color: #00A651;
    color: white;
}

/* Titres */
h1 {
    text-align: center;
    color: #003366;
    margin-bottom: 20px;
}

h2 {
    color: #00A651;
    margin-top: 30px;
    margin-bottom: 10px;
    border-left: 5px solid #00A651;
    padding-left: 10px;
}

/* Paragraphes */
p {
    margin-bottom: 10px;
}

/* Bloc contenu */
section {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

/* Footer */
footer {
    margin-top: 40px;
    background-color: #003366;
    color: white;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
}

footer strong {
    color: #00A651;
}

footer p {
    margin: 5px 0;
}